{% extends 'index.html' %}
    <!-- <form id="upload" method="post" enctype="multipart/form-data">
        <div id="drop">
            Drop Here

            <a>Browse</a>
            <input type="file" name="upl" multiple />
        </div>

        <ul>
        </ul>

    </form> -->


    <!-- <form method = "POST" enctype="multipart/form-data">
    <input type = "file" name = "file" />
    <input type = "submit" value="UPLOAD"/> -->
<!-- </form> -->
{% block main %}
    <h1 class="cover-heading">Cover your page.</h1>
    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.</p>
    <p class="lead">

        <form method="POST" enctype="multipart/form-data">
        <input type="file" id="file" />
        <label for="file">choose a file</label>
        <!-- <input type="submit" class="btn btn-lg btn-secondary" value="UPLOAD"> -->
    </form>

    </p>
{% endblock main %}
